SPRING_PROFILES_ACTIVE=local
SERVER_PORT=8080

DB_HOST=localhost
DB_PORT=5432
DB_NAME=finopaladar
DB_USERNAME=postgres
DB_PASSWORD=israel1829

DATABASE_URL=jdbc:postgresql://localhost:5432/finopaladar
JPA_SHOW_SQL=true
DELIVERY_FEE=0.00

JWT_SECRET=change-this-secret-with-at-least-32-characters
JWT_EXPIRATION_MINUTES=120
WHATSAPP_PHONE_NUMBER=5583999760359

UPLOAD_IMAGE_DIR=uploads/produtos
UPLOAD_IMAGE_URL_PREFIX=/uploads/produtos
UPLOAD_IMAGE_MAX_SIZE_BYTES=5242880
UPLOAD_IMAGE_MAX_FILE_SIZE=5MB
UPLOAD_IMAGE_MAX_REQUEST_SIZE=5MB
